<span class="column">

	<div class="row">
		<header class="column">
			<a href="/books"><h1>Books!</h1></a>
		</header>

		<% @books.each do |book| %>

			<article class="column">
	       <div class="card">
	       	<ul>
						<li>
							Rank: <%= book.votes.count %> 
						</li>
						<li>
							<%= link_to(book.title, show_path(book.id)) %>
						</li>
						<li>
						By: <%=book.maker %>
						</li>
			<!-- <li>Description: <%= book.description %></li> -->
<!-- voting buttons				 -->
					</ul>
					<ul class="row small-up-1 medium-up-2">
						<li class="column">
							<%= button_to("Upvote", upvote_path(book.id)) %>
						</li>
						<li class="column">
							<%= button_to("Downvote", downvote_path(book.id)) %>
						</li>
<!-- edit button -->
						<li class="column">
							<%= button_to("Edit", edit_path(book.id), method: :get, action: :edit) %>
						</li>	
<!-- delete buttons -->	
						<li class="column">
							<%= button_to("Delete", delete_path(book.id), data: {confirm: "Are you sure you want to destroy this beautiful writing?"}) %>
						</li>
					</ul>
				</div>
			</article>
		<% end %>
	</div>
	<%= button_to("New Book", media_new_path, action: :get) %>
</span>