<h1>Movies!</h1>

	<% @movies.each do |movie| %>
	<article>
		<p>Ranking: <%= movie.votes.count %> </p>
		<p>Title: <%= link_to(movie.title, show_media_path(movie.id)) %></p>

		<p>Director: <%=movie.maker %></p>
		<p>Description: <%= movie.description %></p>

		<p><%= button_to("Upvote", upvote_media_path(movie.id)) %></p>
		<p><%= button_to("Downvote", downvote_media_path(movie.id)) %></p>
<!-- edit button -->
		<p><%= button_to("Edit Movie", edit_media_path(movie.id), method: :get, action: :edit) %></p>	

<!-- delete buttons -->	
		<p><%= button_to("Delete Movie", delete_media_path(movie.id), data: {confirm: "Are you sure you want to destroy this beautiful cinematography?"}) %></p>
	</article>
	<% end %>